name: CI/CD Pipeline PayFlow

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: self-hosted

    # 1. ELIMINAMOS la sección "defaults: shell: bash" 
    steps:
    - uses: actions/checkout@v3

    # 2. CORRECCIÓN: Instalación segura
    - name: Install Dependencies
      working-directory: ./app
      run: npm install

    # 3. CORRECCIÓN: Despliegue explícito
    - name: Deploy Blue/Green Strategy
      run: bash scripts/deploy.sh