name: CI/CD Pipeline PayFlow

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: self-hosted

    # ESTO ES LA SOLUCIÓN MÁGICA PARA WINDOWS:
    # Le decimos que use "bash" (Git Bash) para todos los pasos
    defaults:
      run:
        shell: bash

    steps:
    - uses: actions/checkout@v3

    - name: Install Dependencies
      # Como usamos bash, el "&&" funcionará perfecto
      run: cd app && npm install

    - name: Deploy Blue/Green Strategy
      run: |
        # Ya no necesitamos chmod en Windows, lo quitamos.
        # Ejecutamos el script directamente
        ./scripts/deploy.sh